<h4>Contact me</h4>

<p> If your have any questions I can answer or if you'd just like to chat, you can reach out to me
 in any of the formats below!  </p>

<a href="https://github.com/steelerx155"> Github</a><br>
<a href="https://www.linkedin.com/in/randy-steele-80669355/"> LinkedIn</a><br>
<a href="https://twitter.com/RandySt02617967">Twitter</a><br>
<a href="mailto:steelerx155@gmail.com">Email</a><br>
