<h1>Welcome to Randy Steele's Portfolio</h1>
<img src="me.jpg">
<h1> About Me</h1>
<p> I'm a software engineer and service industry professional. I have recently completed Flatiron School's 
Online Software Engineering Program where I mastered Ruby, Ruby on Rails, Sinatra, JavaScrip and React/Redux. </p>






