<a href="/contact">Contact</a> |
<a href="/home">Home</a> |
<a href="/projects">Projects</a>


<h1>Randy Steele</h1>
<%
=begin%>
 <img src="../images/IMG_20200824_134157.jpg" width="500" height="600"> 
<%
=end%>
<h1> About Me</h1>
<p> I'm a software engineer and service industry professional. I have recently completed Flatiron School's 
Online Software Engineering Program where I mastered Ruby, Ruby on Rails, Sinatra, JavaScript and React/Redux. </p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<a href="/home">Home</a> |
<a href="/contact">Contact</a> |
<a href="/projects">Projects</a>
