<h1>Welcome to Randy Steele's Portfolio</h1>
<img src="//images/me.jpg" width="500" height="600">
<h1> About Me</h1>
<p> I'm a software engineer and service industry professional. I have recently completed Flatiron School's 
Online Software Engineering Program where I mastered Ruby, Ruby on Rails, Sinatra, JavaScript and React/Redux. </p>








