<h1>Welcome to Randy Steele's Portfolio</h1>
<img src="https://docs.google.com/document/d/1b5Vjv32Dz-PTwCZXkS9uV2JY9G1cpE-7yHqf3FuB3sk/edit">
<h1> About Me</h1>
<p> I'm a software engineer and service industry professional. I have recently completed Flatiron School's 
Online Software Engineering Program where I mastered Ruby, Ruby on Rails, Sinatra, JavaScrip and React/Redux. </p>




