<!DOCTYPE html>
<html>
	<head>
		<title>Randy Steele</title>
	</head>
	<body>
		<nav>
    		<ul>
<a href="/projects">Projects<a> |
<a href="/contact">Contact<a> |
<a href="/resume">Resume<a>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">

         <img src="../images/profilephoto.jpg" width="500" height="600"> 

         <h3>TECHNICAL SKILLS</h3>
<li>Ruby</li> <li>Rails</li><li>SQL</li><li>JavaScript</li><li>React</li><li>Redux</li></li>


    <h1> About Me</h1>
<p> I'm a software engineer and service industry professional Experienced in Ruby on Rails and JavaScript based programming with <br/>
   a background in dispatching, customer service, accounts receivable and accounts payable. Possess strong skills in communication, <br/>
   troubleshooting and attention to detail. </p>
<br><br><br><br><br><br>

    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:steelerx155@gmail.com">Email</a></li>
        		<li><a href="https://github.com/steelerx155">Github</a></li>
            <a href="/projects">Projects<a> |
<a href="/contact">Contact<a> |
<a href="/resume">Resume<a>
			</ul>
		</footer>
	</body>
</html>