<!DOCTYPE html>
<html>
	<head>
		<title>Randy Steele</title>
	</head>
	<body>
		<nav>
    		<ul>
<a href="/projects">Projects<a> |
<a href="/contact">Contact<a> |
<a href="/resume">Resume<a>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
    <h1> About Me</h1>
<p> I'm a software engineer and service industry professional Experienced in Ruby on Rails and JavaScript based programming with <br/>
   a background in dispatching, customer service, accounts receivable and accounts payable. Possess strong skills in communication, <br/>
   troubleshooting and attention to detail. </p>
<br><br><br><br><br><br>

    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:steelerx155@gmail.com">Email</a></li>
        		<li><a href="https://github.com/hankquinlan">github.com/steelerx155</a>Github</li>
			</ul>
		</footer>
	</body>
</html>