<a href="/home">Home<a> |
<a href="/contact">Contact<a> |
<a href="/projects">Projects<a>

<h1>Projects</h1>
<h2> Check out some of my work below! Please note; I'm continually adding additional projects to this list! Check back for more soon!</h2>

<a href="https://myrailsrecipeapp.herokuapp.com/">RecipeApp</a><p>This is a Recipeapp that was built using Ruby on Rails. 
Authenticaiton is required. Users can add and review recipes and add comments. Users can also search recipes for certain keywords or ingredients. </p>

<a href="https://gonefishinfrontend.herokuapp.com/">Gonefishin</a><p> This is a React/Redux app with a rails backend. 
There is no authenticaiton required. Users can add fishing destinaitons, review fishing destinations and add comments.
While developing this app I used React/Redux as well as thunk. I also utilized react router. </p>

<a href="/home">Home<a> |
<a href="/contact">Contact<a> |
<a href="/projects">Projects<a>
