<h1>Projects</h1>
<h2> Check out some of my work below!</h2>

<a href="https://myrailsrecipeapp.herokuapp.com/">RecipeApp</a><p>This is a Recipeapp that was build using Ruby on Rails. 
Users can add and review recipes and add comments. Users can also search recipes for certain keywords or ingredients. </p>
