<h1>Resume</h1>
<h1> Randy Steele
Hamilton, OH 45013 | 513-939-6679 | steelerx155@gmail.com <h1>
<h4>Github |  LinkedIn | </h4>

<h3>SOFTWARE ENGINEER | WEB DEVELOPER</h3>
<h4>Experienced in Ruby on Rails and JavaScript based programming with a background in dispatching, customer service, accounts receivable and accounts payable. Possess strong skills in communication, troubleshooting and attention to detail that help companies remain efficient. </h4>

<h3>TECHNICAL SKILLS</h3>
<h4>Ruby, Rails, SQL, JavaScript, React, Redux</h4>
 
<h3>TECHNICAL PROJECTS</h3>
Vacation-Wishlist - Github | Demo 
A Ruby application that keeps track of your vacation dreams
Built this Ruby application using Sinatra 
Developed the app so that users have the ability to login or signup 
Demonstrated the use of Bcrypt to authenticate users and keep passwords safe 
Implemented full CRUD ability 

RecipeApp- Github | Demo | Heroku (username: demo, email: demo@demo.com, password: password)

This is an app that allows users to post and view their recipes 
Built this Ruby on Rails application because it’s something I find useful myself
Implemented Oauth for the user signup experience   
Implemented the MVC Pattern
Executed this application using ActiveRecord and SQLite 

Gone fishin’ - Github | Demo | Heroku
Users can add their favorite fishing destinations
Utilized React Frontend 
Created Ruby on Rails backend using ActiveRecord and RESTful routes
This app has full CRUD functionality
Utilized thunk and redux while building this application 

EXPERIENCE
Engineering Excellence   	Blue Ash, OH
Self Perform Service Coordinator	       05/2014 - Present
Responded to incoming calls from technicians that are checking into or out of a job. Obtain all pertinent details and provide them to the customer, typically via a third party system so that the customers corporate offices stay aware of the repairs 
Verified invoices so that the vendor gets paid in a timely manner
Determined the technician has everything they need to complete the job successfully, such as parts, materials etc.
Coordinated all service calls so that they are dispatched according to priority

Kelly Services  	Cincinnati, OH
Live Chat Representative  	       08/2013 - 02/2014
Responded to incoming chat requests from current members to answer questions and discuss how the Affordable Care Act would affect their current plan enrollment  
Maintained up to three chats at one time during busy periods or deadline days 

EDUCATION
Flatiron School 	Remote
Full Stack Web Development, Ruby on Rails and JavaScript program 	10/2019 - 09/2020

Strayer University 	Remote
Associates in Information Systems and Security   	09/2009