<h2 textcolor=blue>Resume</h2>
<h2> Randy Steele
Hamilton, OH 45013 | 513-939-6679 | steelerx155@gmail.com <h2>
<h4><a href="https://github.com/steelerx155" >Github</a> |  <a href="https://www.linkedin.com/in/randy-steele-80669355/">LinkedIn</a> | </h4>

<h3>SOFTWARE ENGINEER | WEB DEVELOPER</h3>
<h4>Experienced in Ruby on Rails and JavaScript based programming with a background in dispatching, customer service, accounts receivable and accounts payable. Possess strong skills in communication, troubleshooting and attention to detail that help companies remain efficient. </h4>

<h3>TECHNICAL SKILLS</h3>
<h4>Ruby, Rails, SQL, JavaScript, React, Redux</h4>
 
<h3>TECHNICAL PROJECTS</h3>
<h3>Vacation-Wishlist</h3>  <a href="https://github.com/steelerx155/cli_project">Github</a> | <a href="https://www.youtube.com/watch?v=rvhtNObVVZQ&t=2s">Demo</a> 
<li>A Ruby application that keeps track of your vacation dreams</li>
<li>Built this Ruby application using Sinatra </li>
<li>Developed the app so that users have the ability to login or signup </li>
<li>Demonstrated the use of Bcrypt to authenticate users and keep passwords safe </li>
<li>Implemented full CRUD ability </li><br>

<h3>RecipeApp</h3> <a href="https://github.com/steelerx155/RecipeApp">Github</a> | <a href="https://youtu.be/ccCvo4uIuUQ">Demo</a> | <a href="https://myrailsrecipeapp.herokuapp.com/"Heroku></a> (username: demo, email: demo@demo.com, password: password)

<li>This is an app that allows users to post and view their recipes </li>
<li>Built this Ruby on Rails application because it’s something I find useful myself</li>
<li>Implemented Oauth for the user signup experience   </li>
<li>Implemented the MVC Pattern</li>
<li>Executed this application using ActiveRecord and SQLite </li>

<h3>Gone fishin’</h3> <a href="https://github.com/steelerx155/gone-fishin">Github</a> | <a href="https://www.youtube.com/watch?v=o7QeyQzV8qQ">Demo</a> | <a href="https://gonefishinfrontend.herokuapp.com/destinations">Heroku</a>
<li>Users can add their favorite fishing destinations</li>
<li>Utilized React Frontend </li>
<li>Created Ruby on Rails backend using ActiveRecord and RESTful routes</li>
<li>This app has full CRUD functionality</li>
<li>Utilized thunk and redux while building this application </li>

<h3>EXPERIENCE</h3>
<h3>Engineering Excellence   	Blue Ash, OH</h3>
<h3>Self Perform Service Coordinator	       05/2014 - Present</h3>
<li>Responded to incoming calls from technicians that are checking into or out of a job. Obtain all pertinent details and provide them to the customer, typically via a third party system so that the customers corporate offices stay aware of the repairs</li>
<li>Verified invoices so that the vendor gets paid in a timely manner</li>
<li>Determined the technician has everything they need to complete the job successfully, such as parts, materials etc.</li>
<li>Coordinated all service calls so that they are dispatched according to priority</li><br><br>

<h3>Kelly Services  	Cincinnati, OH</h3>
<h3>Live Chat Representative  	       08/2013 - 02/2014</h3>
<li>Responded to incoming chat requests from current members to answer questions and discuss how the Affordable Care Act would affect their current plan enrollment  </li>
<li>Maintained up to three chats at one time during busy periods or deadline days </li>

<h3>EDUCATION<h3>
<li>Flatiron School 	Remote</li>
<p>Full Stack Web Development, Ruby on Rails and JavaScript program 	10/2019 - 09/2020</p>

<h3>Strayer University 	Remote</h3>
<p>Associates in Information Systems and Security   	09/2009</p>